<!DOCTYPE html>
<html>
    <!-- hash page : /h/{hashName} -->
    <title>HASH</title>
    <body><center>
            <h1>#<%=hash%></h1>
            <%if(message.length>0){%>
            <table border="1"> 
            <tr>
            <th>No</th>
            <th>Tweet</th>
            <th>Date</th>
            </tr>
            <!-- After retreiving Data from the api => print full_text(tweet) and date -->
            <%message.forEach((data,index)=>{%>  
                <tr>
                <th><%=index+1%></th>
                <th><h3><%=data.full_text%></h3></th>
                <th><h3><%=data.created_at%></h3></th>
                </tr>                
            <%})            
        }else{%>
            <!-- If Data is empty  -->
            <h3>No tweet[s] found</h3>
            <%}%>
            <h3 id="seconds"></h3>  
    </table>   
        </center>
        
    </body>
    <script>
         // This function will refresh page every 5 seconds 
        //working : taking seconds parameter 5 then recursively calling every second then passing seconds-1 unless seconds >0
        function refresh(seconds){            
            setTimeout(()=>{
                if( seconds > 0 ){
                    document.getElementById("seconds").innerHTML = `Fetching new tweets[s] in ${seconds} seconds`;
                    refresh(seconds-1)
                }else{                    
                    location.reload()
                }
            },1000)
        }        
        refresh(5)
    </script>
</html>