<!DOCTYPE html>
<html>
    <!-- hash page : /h/{hashName} -->
    <title>HASH</title>
    <body><center>
            <h1>#<%=hash%></h1>
            <%if(message.length>0){%>
            <table border="1"> 
            <tr>
            <th>No</th>
            <th>Tweet</th>
            <th>Date</th>
            </tr>
            <!-- After retreiving Data from the api => print full_text(tweet) and date -->
            <%message.forEach((data,index)=>{%>  
                <tr>
                <th><%=index+1%></th>
                <th><h3><%=data.full_text%></h3></th>
                <th><h3><%=data.created_at%></h3></th>
                </tr>                
            <%})            
        }else{%>
            <!-- If Data is empty  -->
            <h3>No tweet[s] found</h3>
            <%}%>   
    </table>   
        </center>
    </body>
</html>